.hide {
    display:none;
}
.show {
    display:block;
}
input {
    outline: none;
}
.border-1 {
    border:1px solid #ccc;
}
/*兼容所有浏览器的清除浮动的方式*/
.clearfix {
    overflow: hidden;
    zoom:1;
}
/*伪类清除，在布局的后边设置一个看不见的布局，在它上面挂载清除属性*/
.clearfix:after {
    content:'.';
    visibility:hidden;
    height:0;
    clear:both;
}
.top {
    width:100%;
    height:40px;
    background: #333;
    color:rgb(164, 176, 148);
    font-size:12px;
}
.top-left {
    float:left;
    margin:12px 0 0 65px;
}
.top-left li {
    float:left;
    border-right:2px solid #424242;
    padding:0 6px;
}
.top-left li:first-child {
    padding-left:0;
}
.top-left li:last-child {
    border-right:none;
}
.top li a {
    color:rgb(164, 176, 148);
}
.shopCar {
    position:relative;
    width:120px;
    text-align:center;
    float:right;
    height:40px;
    padding:0 14px;
    line-height:40px;
    margin-right:61px;
    background:#424242;
    box-sizing:border-box;
}
.goods {
    width:300px;
    height:300px;
    position:absolute;
    top:40px;
    right:61px;
    box-shadow:0 0 10px #ccc; /*水平距离，垂直距离，模糊距离，阴影大小，发光颜色，内外发光*/
    text-align:center;
}
.top-right {
    float:right;
    margin:12px 24px 0 0;
}
.top-right li {
    float:left;
    border-right:2px solid #424242;
    padding:0 6px;
}
.top-right li:last-child {
    border-right:none;
}
.top-right li:first-child {
    padding-left:0;
}
/*header开始*/
header {
    width:1226px;
    height:100px;
    margin:0 auto;
}
.imgBox {
    float:left;
    width:235px;
    height:100px;
}
.imgBox #logo {
    width:55px;
    height:55px;
    float:left;
    margin-top:22px;
}
.imgBox #ad {
    width:163px;
    height:66px;
    float:right;
    margin-top:17px;
}
.nav {
    float:left;
    height:100px;
    line-height:100px;
}
.nav li {
    float:left;
    padding:0 10px;
}
.search {
    width:297px;
    height:100px;
    float:right;
    padding-top:24px;
    position:relative;
}
.search .ser1 {
    width:244px;
    height:50px;
    float:left;
    position:relative;
}
.search .ser1 .hot{
    position:absolute;
    right:10px;
    bottom:10px;
    color:rgb(117,117,117);
}
.search .ser1 .hot a {
    font-size:13px;
    margin-right:5px;
    background:rgb(238,238,238);
}
.search .ser1 input {
    width:244px;
    height:50px;
    border:1px solid #ccc;
    box-sizing:border-box;
}
.search .ser2 {
    width:53px;
    height:50px;
    float:left;
    border:1px solid #ccc;
    border-left:none;
    box-sizing:border-box;
    line-height:50px;
    text-align:center;
}
.search .keywordsList {
    position:absolute;
    left:0;
    top:74px;
    width:244px;
    height:auto;
    border:1px solid #ccc;
    border-top:none;
    box-sizing: border-box;
    padding:0 10px;
    line-height: 30px;
    font-size:13px;
}
.search .keywordsList span {
    float:right;
    color:#ccc;
}
/*二级菜单开始*/
.select {
    width:100%;
    height:230px;
    background:#fff;
    box-shadow: 0 0 10px #ccc;
    position:absolute;
    z-index:1;
}
.select ul {
    width:1226px;
    height:230px;
    margin:0 auto;
}
.select ul li {
    float:left;
    width:203px;
    height:100px;
    margin-top:35px;
    text-align:center;
    border-right:1px solid #ccc;
    font-size:14px;
}
.select ul li img {
    width:160px;
    height:auto;
}
.select ul li h4 {
    line-height:30px;
}
.select ul li p {
    color:orange;
}
.select ul li:last-child {
    border-right:none;
}
/*轮播图*/
.main {
    width:1226px;
    margin:0 auto;
}
.banner {
    width:1226px;
    height:460px;
    position:relative;
    overflow:hidden;
    cursor: pointer;
}
.banner > img {
    width:1226px;
    height:460px;
}
.navL {
    width:235px;
    height:100%;
    background:rgba(0,0,0,0.6);
    position:absolute;
    left:0;
    top:0;
}
.navL li {
    width:100%;
    height:42px;
    line-height:42px;
    font-size:12px;
}
.navL li:first-child {
    margin-top:20px;
}
.navL li a {
    color:#fff;
    margin-left:25px;
}
.navL li a span {
    float:right;
    margin-right:28px;
}
.navHide {
    height:460px;
    position:absolute;
    left:235px;
    top:0;
    z-index:10;
}
.navHide .ulHide {
    background:white;
    position:absolute;
    left:0;
    top:0;
    height:460px;
    box-shadow:0 0 1px #ccc;
}
.navHide .ulHide1{
    width: 266px;
}
.navHide .ulHide2{
    width: 532px;/*background: red;*/
}
.navHide .ulHide3{
    width: 798px;/*background: cyan;*/
}
.navHide .ulHide li {
    width:266px;
    height:76px;
    position:relative;
    float:left;
}
.navHide .ulHide li img {
    width:40px;
    height:40px;
    position:absolute;
    top:calc(50% - 20px);
    left:20px;
}
.navHide .ulHide li p {
    position:absolute;
    top:calc(50% - 8px);
    left:70px;
    font-size:12px;
}
.navHide .ulHide li div.buy {
    width:58px;
    height:22px;
    line-height:22px;
    text-align:center;
    font-size:12px;
    position:absolute;
    top:calc(50% - 15px);
    right:10px;
    border:1px solid orange;
    color:orange;
}
.banner .round {
    width:100px;
    height:10px;
    position:absolute;
    right:35px;
    bottom:25px;
    z-index:10;
}
.banner .round li {
    width:10px;
    height:10px;
    float:left;
    border-radius: 50%;
    background:#342416;
    margin-left:10px;
    opacity:0.8;
}
.banner .round li:first-child {
    background:orange;
    opacity:0.8;
}
.banner .direc {
    width:41px;
    height:69px;
    position:absolute;
    font-size:36px;
    color:#fff;
    top:50%;
    text-align:center;
    line-height:69px;
    z-index:10;
    user-select: none; /*当前文本不被选中*/
}
.banner .direc:hover {
    background:#000;
    opacity:0.5;
}
.banner .direcL {
    left:235px;
}
.banner .direcR {
    right:0;
}
/*选购手机*/
.phone{
    width: 1226px;
    /*margin: 0 auto;*/
    margin-top: 20px;
}
.phoneL{
    background: #5f5750;
    width: 235px;
    height: 170px;
    float: left;
}
.phoneL ul{
    height: 170px;
    padding: 0;
    font-size: 12px;
}
.phoneL ul li{
    width: 76px ;
    height: 75px;
    float: left;
    text-align: center;
    color: whitesmoke;
}
.phoneL ul .lin{
    border-right: 1px solid  #888;
}
.phoneL ul li i{
    display: block;
    margin: 20px 0 3px 0;
    color: whitesmoke;
}
.phoneL .line{
    width: 65px;
    height: 1px;
    background: #888;
    margin: 5px;
}
.phoneR {
    width: 980px;
    height: 170px;
    float: right;
}
.phoneR li{
    height: 170px;
    float: left;
    margin-right: 15px;
}
.phoneR li:last-child{
    margin-right: 0;
}
.phoneR li img{
    width:316px;
    height: 170px;
    float: right;
}
/*小米明星*/
.star{
    width: 1226px;
    height: 340px;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
}
.star .h2{
    float: left;
}
.star .starOver{
    overflow: hidden;
}
.star .p {
    width: 40px;
    height: 25px;
    line-height: 25px;
    font-size: 20px;
    color: gainsboro;
    border: 1px solid gainsboro;
    text-align: center;
    top: 10px;
    cursor: pointer;
}
.star .p:hover{
    color: orangered;
}
.star .p{
    position: absolute;
    right: 50px;
    border-right: none;
}
.star .starR{
    position: absolute;
    right: 12px;
}
.star .starBi{
    position: absolute;
    top: 30px;
}
.star ul li{
    text-align: center;
    width: 220px;
    float: left;
    margin: 20px 10px 0px 10px;
    background: white;
}
.star ul .starOne {
    border-top: 1px solid #ffac13;
}
.star ul .starTwo{
    border-top: 1px solid  #83c44e;
}
.star ul .starThree{
    border-top: 1px solid  #2196f3;
}
.star ul .starFour{
    border-top: 1px solid  #e53935;
}
.star ul .starFive{
    border-top: 1px solid #00c0a5 ;
}
.star ul li img{
    width: 150px;
    margin: 30px 0;
}
.star ul li h2{
    font-size: 14px;
}
.star ul li h3{
    font-size: 12px;
    color: grey;
}
.star ul li p{
    color: red;
}
.proList{
    width:100%;
    background: #f5f5f5;
    border-top: 1px solid #f5f5f5;
}
/*智能硬件*/
.hardWare{
    width: 1226px;
    height: 690px;
    position: relative;
    margin: 70px auto 0;
}
.hardWare li:hover{
    margin-top: 12px;
    box-shadow: #aaa 0 0 28px;
    margin-bottom:2px;
}
.hardWare .a{
    position: absolute;
    right: 0;
    top:8px;
    font-size: 18px;
}
.hardWare ul{
    margin: 30px 0;
}
.hardWare .hardWareL{
    width: 234px;
    height: 610px;
    float: left;
}
.hardWareL li{
    margin-top: 14px;
}
.hardWare .hardWareR{
    width: 980px;
    float: right;
}
.hardWareR li{
    float: left;
    width: 234px;
    height: 300px;
    text-align: center;
    margin-top: 14px;
    margin-right: 14px;
}
.hardWareR li:nth-of-type(4),
.hardWareR li:nth-of-type(8){
    margin-right: 0;
}
.hardWareR img{
    width:160px;
    height: 160px;
    margin-top: 10px;
}
.hardWare ul .z{
    width: 60px;
    height: 20px;
    color: white;
    font-size: 11px;
    text-align: center;
    margin: 0 auto;
}
.hardWare .hardWareR li{
    background: white;
}
.hardWare .hardWareRed{
    background: red;
}
.hardWare .hardWareG{
    background: #83c44e;
}
.hardWare .hardWareY{
    background: #ffac13;
}
.hardWare ul li h3{
    font-size: 11px;
}
.hardWare ul li p{
    color: #ff6700;
}
.hardWare li h2 a{
    font-size: 16px;
}
/*搭配开始*/
h2 a:hover{
    color: #ff6700;
}
.coll{
    height: 680px;
    margin: 70px  auto 0 ;
    width: 1226px;
    position: relative;
    margin-bottom: 50px;
}
.coll .collX{
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 10px;
}
.coll span{
    margin-left: 20px;
}
.collX span:hover{
    border-bottom: 2px solid #ff6700;
    color: #ff6700;
}
.Left{
    float: left;
}
.Left li{
    margin-top: 14px;
}
.Left img{
    width: 234px;
    height: 299px;
}
.coll li:hover{
    box-shadow: #aaa 0 0 27px;
    margin-top: 12px;
    margin-bottom: 2px;
}
.Right{
    height: 628px;
}
.Right li {
    width: 234px;
    height: 300px;
    text-align: center;
    float: left;
    margin-top: 14px;
    margin-left: 14px;
    background: white;
    position: relative;
}
.Right li:hover{
    margin-top: 12px;
    box-shadow: #aaa 0 0 28px;
    margin-bottom:2px;
}
.Right li:nth-of-type(4),
.Right li:nth-of-type(8){
    margin-right: 0;
}
.Right li:last-child{
    background: none;
}
.Right img{
    margin:20px 0 15px 0;
    width: 150px;
}
.Right .slideDiv{
    width: 100%;
    background: #ff6700;
    position: absolute;
    bottom: 0px;
    text-align: center;
    color: white;
}
.Right .slideDiv h3{
    font-size: 14px;
}
.Right .slideDiv p{
    font-size: 12px;
    color: orange;
}
.twoLi{
    background: none;
    box-shadow:none !important;
    margin-left: 0!important;
    margin-top: 0!important;
}
.twoLi ul li{
    width: 234px;
    height: 143px;
    background: #fff !important;
    color: #000;
}
.twoLi ul li:first-child img{
    width: 80px;
    height: 80px;
}
.twoLi ul li:last-child img{
    width: 50px;
    height: 50px;
    margin-top: 50px;
}
.wrap h2{
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
}
.wrap{
    height: 36px;
    float: left;
    margin-top: 50px;
    margin-left: 30px;
    text-align: left;
}
.wrap p{
    font-size: 12px;
    color: #ff6700;
    line-height: 2em;
}
.twoLi .smallTwo{
    width: 100%;
    height: 134px;
    background: white;
}
.smallTwo img{
    margin-top: 50px;
    width: 50px;
    height: 50px;
}
.font{
    font-size: 16px;
}
.color{
    color: #ff6700;
}
.Green{
    color: #fff;
    background: #83c44e;
    width: 60px;
    height: 20px;
    text-align: center;
    margin: 0 auto;
}
.p{
    font-size: 14px;
    color: grey;
}
/*推荐开始*/
.groom {
    width: 1226px;
    height: 360px;
    margin: 50px auto 30px ;
    position: relative;
    overflow: hidden;
}
.groom h1{
    font-size: 24px;
    margin-bottom: 10px;
}
.groom ul{
    width: 4904px;
    height: 316px;
    overflow: hidden;
    float: left;
}
.groom ul li {
    background: #fff;
    width: 234px;
    height: 316px;
    text-align: center;
    float: left;
    margin-right: 14px;
}
.groom ul li:nth-of-type(5n){
margin-right: 0
}
.groom ul li h2 a{
    font-size: 13px;
}
.groom ul li h2 a:hover{
    color: #ff6700;
}
.groom ul li p{
    font-size: 12px;
    color: #ff6700;
}
.groom ul li h3{
    font-size: 12px;
    color: #b0b0b0;
}
.groom ul li img{
    margin-top: 60px;
}
.groom ul li img:hover{
    margin-top: 55px;
}
.groom .p{
    width: 35px;
    height: 20px;
    position: absolute;
    right:0;
    top:0px;
    color: #e0e0e0;
    border: 1px solid #e0e0e0;
    text-align: center;
}
.groom .staL{
    border-right:none;
    margin-right: 34px;
}


/*热评开始*/
.hot{
    width: 1226px;
    margin: 40px  auto 0;
    height: 500px;
}
.hot h2{
    height: 50px;
}
.hot ul li{
    width: 296px;
    height: 415px;
    float: left;
    margin-right: 14px;
    margin-top: 14px;
    background: white;
}
.hot ul li:last-child{
    margin-right: 0;
}
.hot ul li img{
    width: 296px;
    height: 220px;
}
.hot ul li .hotList{
    width: 100%;
    height: 194px;
    position: relative;
}
.hotList h2{
    position: absolute;
    top:28px;
    left: 28px;
    width: 240px;
    font-size: 13px;
    color: #000;
}
.hotList h3{
    position: absolute;
    top: 125px;
    left: 28px;
    font-size: 11px;
    color: #b0b0b0;
}
.hotList p{
    position: absolute;
    top: 155px;
    left: 28px;
    font-size: 13px;
}
.hotList p span{
    color:#ff6700;
}
/*内容*/
.thou{
    width: 1226px;
    margin: 50px auto ;
    height: 500px;
    position: relative;
}
.thouList{
    width: 100%;
    height: 420px;
    position: relative;
}
.thouList li{
    position: relative;
    width: 296px;
    height: 419px;
    float: left;
    margin-right: 14px;
    text-align: center;
    background: white;
    overflow: hidden;
}
.thouList li:last-child{
    margin-right: 0;
}
.thouList li .kind{
    width: 100%;
    line-height: 60px;
    margin-top: 35px;
}
.thouBox h1 a{
    font-size: 22px;
}
.thouBox h5 a{
    font-size: 12px;
    color: grey;
}
.thouBox img{
    position: absolute;
    top: 100px;
    left: 40px;
}
.thou .p2{
    width: 20px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    background: rgb(176,176,176);
    color: #fff;
    position: absolute;
    top: 60%;
    margin-top: -24px;
    text-align: center;
    display: none;
}
.thou .p2:hover{
    background: grey;
}
.thou .l2{
    position: absolute;
    left: 0;
}
.thou .r2{
    position: absolute;
    right: 0;
}
.thouList .round{
    position: absolute;
    left:80px;
    bottom: 30px;
    text-align: center;
}
.thouList .round p{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(175,175,175);
    border: 2px solid #fff;
    margin: 0 12px;
    float: left;
}
.thou .thouList>li:first-child{
    border-top: 1px solid #ffac13;
    color:#ffac13;
}
.thou .thouList>li:nth-child(2){
    border-top: 1px solid #83c44e;
    color: #83c44e;
}
.thou .thouList>li:nth-child(3){
    border-top: 1px solid #e53935;
    color: #e53935;
}
.thou .thouList>li:nth-child(4){
    border-top: 1px solid #2196f3;
    color: #2196f3;
}
.wx{
    border: 2px solid #ff6700 !important;
    background: #ffffff !important;
}
.thouBox li{
    margin-right: 0;
}
.thouBox li{
    width: 296px;
    height: 260px;
    float: left;
}
.thouList li .thouBox{
    width: 1184px;
}
/*视频*/
.video{
    width: 1226px;
    height: 340px;
    margin: 0 auto;
    position: relative;
}
.video ul li{
    width: 296px;
    height: 285px;
    margin-right: 14px;
    margin-top: 14px;
    float: left;
    background: white;
    position: relative;
}
.video ul li:last-child{
    margin-right: 0;
}

.video ul li i{
    position: absolute;
    top:50%;
    left: 20px;
    font-size: 25px;
    color: #fff;
}
.videoList {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 17px;
}
.videoList a{
    color: grey;
}
.videoLi h2{
    font-size: 16px;
    text-align: center;

}
.videoLi h3{
    font-size: 12px;
    color: #5e5e5e;
    text-align: center;
    margin-top: 10px;
}
/*底部开始*/
footer{
    width: 1226px;
    margin: 0 auto;
}
footer .nav1 li{
    width: 234px;
    height: 25px;
    float: left;
    line-height: 25px;
    text-align: center;
    border-right: 1px solid #e0e0e0;
    margin-top: 27px;
    margin-bottom: 50px;
}
footer .nav2Box{
    width: 1226px;
    margin: 0 auto;
}
.nav2 li{
    width: 160px;
    float: left;
}
.nav2 li h4{
    font-size: 12px;
    color: #424242;
    margin-bottom: 32px;
}
.nav2 li a{
    font-size: 11px;
    display: block;
    line-height: 2em;
}
footer #contact{
    width: 252px;
    text-align: center;
    float: right;
}
footer #conTime{
    line-height: 1.5em;
    color: #616161;
}
footer #contact #serv{
    width: 118px;
    height: 28px;
    line-height: 28px;
    margin: 20px auto;
    font-size: 11px;
    border: 1px solid #ff6700;
}
.nav2 #tel{
    font-size: 16px;
    font-weight: 500;
    color: #ff6700;
}
.margin42{
    margin-top: 42px;
}
.margin30{
    margin: 30px;
}
footer{
    border: 1px solid white;
    height: 600px;
    margin-top: 30px;
}
footer .stament{
    height: 90px;
    padding-left: 66px;
    font-size: 12px;
    width: 1226px;
    border: 1px solid white;
    margin-top: 250px;
    position: relative;
}
.floatL{
    float: left;
    margin-left:-30px;
}
footer .staImg{
    right: 0;
    border: 1px solid orangered;
}
footer .stae{
    width: 65%;
}
footer .staLink li{
    float: left;
    border-right: 1px solid gainsboro;
}
footer .stalogo li{
    float: right;
}
footer .stalogo li img{
    width: 90px;
}
footer .staL{
    font-size: 11px;
    color: grey;
}
footer .mi{
    bottom: 30px;
    font-size: 16px;
    text-align: center;
    color: grey;
    border: 1px solid white;
    margin: 30px auto 50px;
}
/*底部*/
.nav1 li a:hover,
.staLink a:hover,
.staL a:hover {
    color:  #ff6700;
}
.nav2Box  a:hover{
    color: #ff6700 !important;
}
#serv:hover{
    background: #ff6700;
    color: white;
}